@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  color: $base-font-color;
}


.accordion {
  width: 285px;
  height: auto;
  background-color: $medium-gray;
  padding-left: 0;
  margin: 5em auto;
  border-radius: 3px;
}

  .accordion-sections {
    list-style: none;
    padding-left: 0;
  }

    .section-heading {
      margin: 1em 0;
      color: #fff;
      margin: 0;
      padding: 0.5em 0 0.5em 1.5em;
      border: 1px solid #fff;
      background-color: #5A5C61;
    }

    .section-heading.active {
      background-color: #A1B947;
    }

    .section-category {
      list-style: none;
      padding-left: 0;
      background-color: $very-light-gray;
    }

    .cat-link a {
      text-decoration: none;
      color: #6F6F72;
      margin-left: 1.5em;
      display: inline-block;
      line-height: 40px;
    }

     li {
      margin: 0;
      height: 40px;
      border: 1px solid $light-gray;
    }
